<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <%- include("./partials/extensions.ejs") %>
  </head>

  <body>
    <%- include("./partials/navbar.ejs") %>

    <h1>Makaleler</h1>
    <hr />
    <% if (articles) { %> <% articles.forEach(data => { %>
    <h3>
      Başlık:<a href="/api/articles/detail/<%-data._id%>">
        <%- data.title %>
      </a>
    </h3>
    <h4>Yazar:<%- data.author %></h4>
    <hr />
    <% }) %> <% }%> <% if (articles == "") {%>
    <div class="alert alert-danger">Hiç Makale Bulunmuyor</div>
    <%}%>
  </body>
</html>
